.topbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(116, 116, 116);
  padding-right: 10px;
  padding-left: 10px;
  height: 70px;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.right {
  display: flex;
  align-items: center;
}

.config-button {
  font-size: 22px;
  background: transparent;
  border: none;
}

.user-img {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.logout-button {
  margin-left: 10px;
  height: 20px;
}
